<div class="row">
    <div class="col-xs-5">
        <form (submit)="onSubmit(comment)" #comment="ngForm">
            <div class="form-group"
                 [class.has-error]="name.invalid && name.touched">
                <input
                        name="name"
                        ngModel
                        required
                        #name="ngModel"
                        placeholder="* სახელი"
                        type="text"
                        class="form-control">
                <span *ngIf="name.invalid && name.touched" class="help-block">
                    სახელი სავალდებულოა
                </span>
            </div>
            <div class="form-group"
                 [class.has-error]="password.invalid && password.touched">
                    <textarea
                            name="comment"
                            ngModel
                            required
                            #password="ngModel"
                            placeholder="* კომენტარი"
                            class="form-control">
                    </textarea>
                <span *ngIf="password.invalid && password.touched"
                      class="help-block">
                    კომენტარი სავალდებულოა
                </span>
            </div>
            <button
                    [disabled]="comment.invalid"
                    type="submit"
                    class="btn btn-success">კომენტარის დამატება
            </button>
        </form>
    </div>
</div>